# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Models
*.pkl
*.model

# Mac
.DS_Store

# Data
# We keep raw csv for now if it's small, but ignore large ones
# data/*.csv
